<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zt.Dao.OrderDao">
    <!--    查询-->
    <select id="findAll" resultType="orders">
        SELECT *,o.id oid from orders o, user u WHERE o.uid = u.id
    </select>
</mapper>