<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    声明对象
        id:对象的名称，唯一值
        class:类的权限名称，spring通过反射机制创建反射对象，不能是接口
        spring根据id和class创建对象，把创建的对象放到spring的map中
        map.put(id,对象)
-->
    <bean id="someService" class="service.impl.SomeServiceImpl">

    </bean>
</beans>
